@model BrojGodina.Artikal

    <div class="moj_box" >
    <h3>@Model.Naziv</h3>
         Cijena: @Model.Cijena -> Količina: @Model.Kolicina<br />         
         <span>@Model.Kategorija<br /></span>
    </div>
