@model string
@{
    ViewBag.Title = "SimpleBindingMetoda";
}

<!Doctype html>

<html>
<head>
    <meta name=" = "viewport" content="width=device-width" />
    <title>SimpleBind</title>
</head>
<body>
    <div>
        <form method="post">
            <br />
            <label>Unesi ime:</label>
            <input type="text" name="ime" value="" />
            <button type="submit">Pošalji</button>
        </form>
    </div>
    <div>
        <label>@Model</label>
    </div>
</body>


</html>


