
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Računi</title>
    <style type="text/css">
    .field-validation-error{color: #f00;}
    .validation-summary-errors{color: #f00; font-weight: bold;}
    .input-validation-error{background-color: #fee; border:2px solid #f00;}
    input[type="checkbox"].input-validation-error{ outline:2px solid #f00;}
        </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>