@model string
@{
    Layout = null;
    int rezultat = 4 + 3 * 3;

}

<!Doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-widht" />
    <title>Index</title>
</head>
<body>
    <div>
        <label>
            @Model@rezultat
        </label>
    </div>
</body>
</html>

