@model _5_5_1_ZADACA_child.Models.Artikal
@{
    ViewBag.Title = "UnesiArtikl";
}
<h2>UnesiArtikl</h2>
<!Doctype Html>
<html>
<head>
    <title>UnesiArtikl</title>
    <style>
        label{
            width: 150px;
            padding-top: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h3>Unos novog artikla:</h3>
    @using (Html.BeginForm("DodajArtikl", "ListaArtikala"))
    {
        <div>
            <label>Kategorija: </label>
            @Html.DropDownListFor(x => x.Kategorija,
           new SelectList((string[])ViewBag.Kategorije), "*Kategorija*")
        </div>
        <div>
            <label>Naziv: </label>
            @Html.TextBoxFor(x => x.Naziv)
        </div>
        <div>
            <label>Cijena: </label>
            @Html.TextBoxFor(x => x.Cijena)
        </div>
        <div>
            <label>Količina: </label>
            @Html.TextBoxFor(x => x.Kolicina)
        </div>
        <p>
            <button type="Submit">Dodaj u Artikle!</button>
        </p>
    }
</body>
</html>

